---
title: GitLab for the Public Sector
description: "Social coding, continuous integration, and release automation have proven to accelerate development and software quality to meet mission objectives. Learn more!"
canonical_path: "/solutions/public-sector/"
suppress_header: true
logos_container_id: logos-bg-purple
extra_css:
  - public-sector.css
---

.simple-header
  %h1 GitLab for the Public Sector
  %p
    Bring the power of Git and CI/CD to your federal, state, and education IT teams.
  %a.btn.cta-btn.orange.margin-top30{ href: "https://about.gitlab.com/images/press/gitlab-capabilities-statement.pdf", target: "_blank" } Download the GitLab Capabilities Statement

.page-container.summary-container.text-center
  .container
    %h2.summary-title
      Secure, End-to-End Hardened Container Image for Software Development Accelerates Application Delivery
    .description
      %p
        Today’s ever-changing threat landscape requires government, regulated industries, and critical infrastructure organizations to deploy new capabilities and updates to connected systems and software in minutes or hours, not days or weeks.
        %div
          GitLab’s hardened container image, developed for the U.S. Department of Defense, supports the faster deployment of more secure software. The image is pre-authorized for use within DoD classifications, which can help shorten the ATO process. It also allows Common Access Card (CAC) and Personal Identity Verification (PIV) authentication, enabling a single-sign-on (SSO) approach that further saves time. Regulated industry and critical Infrastructure customers can take advantage of these additional security capabilities.
    %a.btn.cta-btn.red{ href: '#contact' }
      Contact us today

    %a.btn.cta-btn.red{ href: 'https://drive.google.com/file/d/1cszlj5fKFE12qFd4aMNij0a83v-3Fe4r/view?usp=sharing' }
      More info

.page-container.characteristics-container
  .container
    .row
      .col-md-12
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/globe-icon")
              .col-sm-10
                %h4.point-title
                  Git at enterprise scale
                %p.point-description
                  Built to support today’s global organizations, GitLab Enterprise Edition scales in terms of users, data, and geographic location. A single server can handle thousands of users and repositories.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/server-icon")
              .col-sm-10
                %h4.point-title
                  Host it your way
                %p.point-description
                  :markdown
                    GitLab ships in one easy-to-install package that can be hosted on your servers or on your cloud service of your choice. GitLab can be easily hosted on your FedRAMP cloud service such as AWS, Google Cloud, Azure and others so you can have a secure, robust SDLC management solution today. [GitLab and FedRamp](/solutions/public-sector/fedramp/)
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/code-icon")
              .col-sm-10
                %h4.point-title
                  Code collaboratively
                %p.point-description
                  Create a culture of collaboration where developers can easily contribute ideas through merge request and get feedback through inline commenting and discussions.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/settings-icon")
              .col-sm-10
                %h4.point-title
                  Integrate with existing tools
                %p.point-description
                  GitLab can easily fit into your existing workflow. It integrates with dozens of external tools, such as Slack, JIRA, Jenkins and many more.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/checklist-icon")
              .col-sm-10
                %h4.point-title
                  Improve software quality
                %p.point-description
                  Add quality control to your development process with automated testing. GitLab’s integrated continuous integration (CI) tool is fast and scalable, allowing your team can test every commit.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/security-icon")
              .col-sm-10
                %h4.point-title
                  Enforce security standards
                %p.point-description
                  GitLab Enterprise Edition gives admins more control over user and workflow management. Enforce workflow guidelines and security best practices without disrupting developer productivity.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/rocket-icon")
              .col-sm-10
                %h4.point-title
                  Accelerate delivery
                %p.point-description
                  Automate your deployments to reduce error rates and accelerate delivery. GitLab Enterprise Edition comes with advanced continuous delivery (CD) features to enable your team to test, build, and deploy code.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/support-icon")
              .col-sm-10
                %h4.point-title
                  Take advantage of premium support
                %p.point-description
                  Stay focused on your products and let us help you with your onboarding, upgrading, and troubleshooting needs. For teams that are new to Git or Continuous Integration, Premium Support gives you access to training workshops.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("import-drag-icon")
              .col-sm-10
                %h4.point-title
                  Authenticate via common access card (CAC)
                %p.point-description
                  GitLab comes with out-of-the-box support for common access card authentications. Use your existing CAC smartcard system to manage authentication and authorization for GitLab.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("high-performance-icon")
              .col-sm-10
                %h4.point-title
                  Ensure compliance with one-way transfers (OWT)
                %p.point-description
                  One-way transfers (OWT) allow code to be written on a low-security or unclassified network and then pushed to a high-security network. GitLab supports OWT via project import/export API.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("saas-cloud")
              .col-sm-10
                %h4.point-title
                  SOC 2 Type 1 Certified
                %p.point-description
                  :markdown
                    GitLab.com, our SaaS offering, is now [certified for SOC 2 Type 1](https://about.gitlab.com/handbook/engineering/security/security-assurance/security-compliance/soc2.html). This certification validates our compliance to strict information security policies and procedures, encompassing the security, availability, processing, integrity, and confidentiality of your data stored in the cloud.
          .col-sm-6.col-md-6
            .row
            

= partial "/includes/solutions/public-sector/logos"

= partial "/includes/solutions/public-sector/contact"
