%div{:style => "background: #fff; color: #000;"}
  .container.custom-home-hero
    .row.u-padding-top-sm.text-md-center
      .col-md-6.u-padding-top-md
        .row
          .col-md-12.u-margin-bottom-sm
            %h1.custom-h1.u-margin-bottom-xxs
              The complete
              %br.custom-break-d/
              DevOps
              %br.custom-break-m/
              platform

            %h3.custom-h4.u-margin-bottom-xxs One application with endless possibilities. Organizations rely on GitLab’s source code management, CI/CD, security, and more to deliver software rapidly.
        .row.u-margin-bottom-xs
          .col-md-12.u-margin-bottom-0
            = link_to "Try GitLab for FREE", "/free-trial/", class: "btn cta-btn orange-light" 
            = link_to "Watch a demo", "https://about.gitlab.com/demo/", class: "btn cta-btn lavender"
    
      .col-md-5.col-md-offset-1 
        %picture
          %source{media: "(max-width: 959px)", srcset: "/images/home/homepage-illustration-m.svg"}
          %img{src: "/images/home/homepage-illustration-d.svg", alt: "Dev Ops platform", loading: "lazy", style: "max-height: 600px;"}

          //marketing/corporate_marketing/corporate-marketing/-/blob/master/design/_progress/vic/homepage-illustration-dec-2020/svg/homepage-illustration-wide.svg

-# CSS For Component
:sass
  .small-font
    font-size: 14px
    font-weight: bold
  // .custom-h1
  //  font-size: 60px
  //  line-height: 64px
  //  font-family: 'Source Sans Pro'
  .custom-h4
    font-size: 23px
    font-weight: 350
    line-height: 28px
  .cta-btn.lavender
  //  width: unset
  .custom-break-m
    display: none

  
  // @media all and (max-width: 967px)
  //  .custom-h1
  //    font-size: 36px
  //    margin-bottom: 2rem
  //    line-height: 44px
  //  .cta-btn.lavender
  //    width: 100%
  //    margin-top: 2rem
  //  .custom-break-d
  //    display: none
  //


%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
